body {
  white-space: pre;
  font-family: monospace;
}

.type-null {
  color: gray;
}

.type-boolean {
  color: firebrick;
}

.type-number {
  color: blue;
}

.type-string {
  color: green;
}

.callback-function {
  color: gray;
}

.collapser:after {
  content: "-";
}

.collapsed > .collapser:after {
  content: "+";
}

.collapser {
  padding-right: 6px;
  padding-left: 6px;
}